@import "foundation_settings";
@import "foundation";
@import "hawk_settings";
@import "compass/css3";

#hawk {
  height: 100%;
}

.hawk-wrapper {
  height: 100%;
  padding-top: $topbar-height;
}

.nav-wrapper {
  padding-top: 1px;
  border-bottom: 1px solid $gainsboro;
  margin-top: -($topbar-height + rem-calc(2px));

  ul.dropdown {
    border: 1px solid $gainsboro;
  }
}

@media #{$medium-up} {
  .top-bar {
    padding: 0 1rem 0 0;
  }
}

.content-wrapper, .content {
  height: 100%;
}

.footer {
  margin-bottom: -$topbar-height;

  .footer-content {
    line-height: $topbar-height;
    font-size: 90%;
  }
}

.home {
  height: 100%;
  padding: $topbar-height 0;
  // http://sixrevisions.com/css/responsive-background-image/
  background-image: url(../img/northern_hawk_finland-wide.jpg), url(../img/northern_hawk_finland-small.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h6 {
    margin-top: 0;
  }

  h6.error {
    color: $grapefruit-light;
  }

  input {
    margin-bottom: 0.5rem;
    @include input-placeholder {
      font-weight: $font-weight-normal;
    }
  }

  .button {
    margin-bottom: 0.5rem;
  }
}

@mixin ghost-block {
  background-color: rgba($ghost, 0.7);
  @include radius;
  padding: 1rem;
  margin-bottom: 1rem;
}

.welcome {
  h3 {
    font-weight: $font-weight-bold;
  }
}

.login-form {
  @include ghost-block;
}

.signup-form {
  @include ghost-block;
}

.track {
  @mixin big-input {
    font-size: 3.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid $gainsboro;
    font-weight: $font-weight-normal;

    @include input-placeholder {
      color: $placeholder-color;
    }
  }

  .input-artist {
    @include big-input;
    margin-top: 1rem;
    box-shadow: none;
    height: auto;
    color: $steel;
  }

  .input-artist:focus {
    @include big-input;
  }
}
