@import "foundation_settings";
@import "foundation";
@import "hawk_settings";
@import "compass/css3";

/***** Generic Page Layout *****/

// Thanks for the help http://getbootstrap.com/examples/sticky-footer-navbar/

#hawk {
  height: 100%;
}

.hawk-wrapper {
  height: 100%;
}

.nav-wrapper {
  border-bottom: 1px solid $gainsboro;

  @media #{$medium-up} {
    .top-bar {
      padding: 0 1rem 0 0;
    }

    .top-bar li.name a {
      color: $mint-dark;
    }

    .top-bar-section ul.dropdown {
      padding: 0.5rem 0;
      position: relative;
      background: $ghost;
      border: 1px solid $iron;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    } 

    .top-bar-section ul.dropdown:after, 
    .top-bar-section ul.dropdown:before { 
      bottom: 100%; 
      right: 0%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    } 

    .top-bar-section ul.dropdown:after { 
      border-color: rgba(250, 250, 250, 0);
      border-bottom-color: $ghost;
      border-width: 6px;
      margin-right: 14px;
    } 

    .top-bar-section ul.dropdown:before { 
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: $iron; 
      border-width: 7px;
      margin-right: 13px;
    }

    .top-bar-section ul.dropdown {
      li a {
        line-height: 2rem;
      }
    }
  }
}

.content-wrapper {
  height: 100%;
}

@mixin content {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5rem;

  .footer-content {
    line-height: $topbar-height;
    font-size: 90%;
  }
}

/***** Home Page *****/

.home {
  min-height: 100%;
  position: relative;
  padding: $topbar-height 0;
  // http://sixrevisions.com/css/responsive-background-image/
  background-image: url(../img/northern_hawk_finland-wide.jpg), url(../img/northern_hawk_finland-small.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h3 {
    font-weight: $font-weight-bold;
  }

  h6 {
    margin-top: 0;
  }

  h6.error {
    color: $grapefruit-light;
  }

  input {
    @include input-placeholder {
      font-weight: $font-weight-normal;
    }
  }

  .welcome {
    margin-bottom: $topbar-height;
  }
}

@mixin ghost-block {
  background-color: rgba($ghost, 0.7);
  @include radius;
  padding: 1rem;
  margin-bottom: 1rem;
}

.login-form {
  @include ghost-block;
}

.signup-form {
  @include ghost-block;
}

/***** Track an Artist Page *****/

.track {
  @mixin big-input {
    font-size: 3.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid $gainsboro;
    font-weight: $font-weight-normal;

    @include input-placeholder {
      color: $placeholder-color;
    }
  }

  .input-artist {
    @include big-input;
    margin-top: 1rem;
    box-shadow: none;
    height: auto;
    color: $steel;
  }

  .input-artist:focus {
    @include big-input;
  }
}
